#titleEdit{
    --fieldBorderColor: rgb(85, 85, 85) !important;
    --fieldBorderColorActive: rgb(0, 0, 0) !important;
    width: 350px;
}

#textEdit{
    --fieldBorderColor: rgb(85, 85, 85) !important;
    --fieldBorderColorActive: rgb(0, 0, 0) !important;
    margin-block-start: 10px;
    margin-block-end: 1.67em;}
#textEditor{
    width: 350px;
    height: 290px;
}