<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}">
    <title>Notes App</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/edit.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/css/view.css">


    <style>
       /* body {
            background-image: url("/bluebg.png");
        } */
        
        
    </style>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<body >
    
    {% block content %}

    {% endblock%}
    <script>
        var b = String(document.getElementById('mytext').textContent);
        b = b.replace(/(?:\r\n|\r|\n)/g, '<br />');
        // alert(b);
        document.getElementById('mytext').innerHTML = b;
    </script>
    <script>
        var b = document.getElementsByClassName("separator");
        // document.getElementsByClassName(".separator").style.background = "green";
        // alert(document.getElementsByClassName('.separator'))
        // alert("b.length()")
        for (i = 0; i < b.length; i++) {
          // alert(i)
          b[i].innerHTML = b[i].innerHTML.replace(/(?:\r\n|\r|\n)/g, '<br />');
          // alert(b[i].innerHTML)

        }
        document.getElementsByClassName('.separator').innerHTML = b;
    </script>
    <script>
        // alert('cat');
        var b = document.getElementById('textEditor').innerHTML;
        // document.getElementById("textEditor").innerHTML = "Where do you live?";
        // alert(typeof  document.getElementById("textEditor").innerHTML);
        // alert(b);
        // document.getElementsByClassName(".separator").style.background = "green";
        // alert(document.getElementsByClassName('.separator'))
        // alert("b.length()")
        // alert(b);
        // alert(b.replace(/(?:\r\n|\r|\n)/g, '<br />'));
        // alert(b);
        document.getElementById("textEditor").placeholder = b;
        // document.getElementById("textEditor").innerHTML = b;
        // for (i = 0; i < b.length; i++) {
        //   alert(i)
        //   b[i].placeholder = b[i].placeholder.replace(/(?:\r\n|\r|\n)/g, '<br />');
        // //   alert(b[i].placeholder)
        // //   document.getElementsByClassName('split').placeholder = b;
        // }
    </script>
    <script src = "/static/js/jquery.js"></script>
    <script src = "/static/js/scripts.js"></script>
      <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>

</body>
</html>