{% extends "base.html" %}

{% block content %}
<div class = "centerDis">
    <div class = "heading">
        <h1></h1>
    <h1 style = "font-family: 'Raleway', sans-serif; font-size: 50px;">Welcome! Here are your notes:</h1>
    <a style = "color: black;"href="/user/signout"><ion-icon name="log-out-outline" style="font-size: 40px; margin-top: 40px;"></ion-icon></a>
</div>
    <!-- <h1>Create new note</h1> -->
    <input type="text" id = "newNoter" placeholder="  New Note" onclick="openForm()">
    <!-- <button class="open-button" id = "opener" onclick="openForm()">New Note</button> -->

    <!-- <p> You are logged in</p> -->

    <!-- <button onclick="window.location.href='/user/signout'" class = "btn open-button" style = "font-family: 'Raleway', sans-serif;">Sign out</button> -->
    <div hidden id = "no" class = "noob">

    
    <form name="new_note">
        <h1 style = "margin-bottom: 0px;">New Note</h1>
        <label class="field field_v1" for = "title" id = "newTitle">
            <input class="field__input" name = "title" placeholder=" " maxlength="25" id = "newTitle" style= "font-size: 20px; text-align: center;" required>
            <!-- <span class="field__label-wrap"> -->
              <!-- <span class="field__label" style="font-size: 20px;">Title</span> -->
            <!-- </span> -->
          </label>
          <br>
          <label class="field field_v1" for = "title" id = "newTitle">
            <textarea class="field__input" name = "text" placeholder=" " id = "newText" style= "font-size: 20px;" required></textarea>
            <!-- <span class="field__label-wrap"> -->
              <!-- <span class="field__label" style="font-size: 20px;">Title</span> -->
            <!-- </span> -->
          </label>
        <!-- <label for = "text">Text</label>
        <textarea  name = "text" id = "newText" required></textarea> -->

        <p class = "error">
            
        </p>
        <input type="radio" id="redDot" name="color" value="redDot" required="required">
        <label class = "radioColors redDot" for="redDot" ></label>
        <input type="radio" id="orangeDot" name="color" value="orangeDot">
        <label class = "radioColors orangeDot" for="orangeDot"></label>
        <input type="radio" id="greenDot" name="color" value="greenDot">
        <label class = "radioColors greenDot" for="greenDot"></label>
        <input type="radio" id="blueDot" name="color" value="blueDot">
        <label class = "radioColors blueDot" for="blueDot"></label>
        <input type="radio" id="purpleDot" name="color" value="purpleDot">
        <label class = "radioColors purpleDot" for="purpleDot"></label>
        <br>

        <input type="submit" value = "Create" class = "btn">
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>

    
    </form>
</div>

    <!-- <p>
        <strong>Name: </strong> {{ session['user']['name']}}
        <strong>Email: </strong> {{ session['user']['email']}}
    </p> -->
    <div class = "flexer">
        {% for count, name in notes %}
        <div class = "card notes postIt dortnite" id = "{{count + '1'}}" mouseleave="hide(this.id+'10')">
            <div class = "rows">
            <h1 style="flex-basis: 33%;"> </h1>
            <h1 id = "nameDash">{{name[0]}} </h1> 
            <div class = "halfrow">
            <div id = "{{count+'110'}}" class = "dropdown-content">
                <a class = "editNote" id = {{count}} onclick = "editNote(this.id)">Edit</a>
                <br>
                <a class = "viewNote" id = {{count}} onclick = "viewNote(this.id)">View</a>
                <br>
                <a class = "deleteNote" id = {{count}} onclick = "sendId(this.id)">DELETE</a>
            </div>
            <span id = "{{count + '11'}}" class = "thing"onclick="openMenu(this.id+'0')">&#8942;</span>
        </div>
            </div>
            <!-- <div style="content: '\2807';" ></div> -->
            <!-- <h1 >cat</h1> -->
            <h3 id = "previewText" class = "separator">{{name[1]}}</h3>
            
        </div>

        {% endfor %}
    </div>
    

 
</div>
<!-- 
<div class="form-popup" id="myForm">
  <form hidden id = "no" action="/action_page.php" class="form-container">
    <h1 id = "no">Login</h1>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit" class="btn">Login</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div> -->
<script>
    // var color1 = 'rgba(6,190,225,0.63)';
    var color2 = 'rgba(78, 255, 152, 0.541)';
    // var color3 = 'rgba(26, 0, 196, 0.541)';
    var color4 = 'rgba(0, 140, 255, 0.541)';
    var color5 = 'rgba(72, 105, 255, 0.541)';
    var color6 = 'rgba(255, 95, 95, 0.541)';
    var color7 = 'rgba(251, 255, 0, 0.562)';
    // var color8 = 'rgba(145, 255, 19, 0.562)';
    // var colors = Array(redd, rgba(92, 255, 78, 0.541), rgba(194, 104, 255, 0.541), rgba(255, 72, 72, 0.541), rgba(72, 105, 255, 0.541));
    var colors = Array( color2,  color7, color6,  color4, color5);
    b = document.getElementsByClassName('dortnite');
    for (i = 0; i < b.length; i++) {
        // alert()
        // b[i].style.backgroundColor = colors[0]
        b[i].style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
    };
    

</script>
<script>
    function openMenu(idGiven){
        // alert(idGiven);
        // b = document.getElementById(idGiven);
        document.getElementById(idGiven).style.visibility = "visible";
    }
    window.onclick = function(event) {
    if (!event.target.matches('.thing')) {
    //   alert("cat")
    //   alert(event.target);
    var dropdowns = document.getElementsByClassName("dropdown-content");
    for (i = 0; i < dropdowns.length; i++) {
        dropdowns[i].style.visibility = "hidden";
    }
    }
    }
                
</script>
<script>
     $('.delete').on('click', function(){
      $(this).parent().remove();
    //   alert("hi")
    });
function editNote(noteId) {
    var data = {"info": noteId};

    $.ajax({
       url: "/editing",
       type: "GET",
       data: data,
       dataType: "json",
       success: function(resp){
           window.location.href = "/edit/";
       }
    });
}
function viewNote(noteId) {
    var data = {"info": noteId};

    $.ajax({
       url: "/editing",
       type: "GET",
       data: data,
       dataType: "json",
       success: function(resp){
           window.location.href = "/view/";
       }
    });
}
function hide(givenId){
    document.getElementById(givenId).style.visibility = 'hidden';
}
document.activeElement.blur();
function sendId(dab) {
    var data = {"info":dab};
    
    $.ajax({
        url: "/delete",
        type: "GET",
        data: data,
        dataType: "json",
        success: function(resp){
            window.location.href = "/dashboard/";
            // alert(resp);

        },
    });
}
function openForm() {
  document.getElementById("no").style.display = "inline-block";
  document.getElementById("newNoter").disabled = true;
  var remove = document.getElementsByClassName('thing');
  
    b = document.getElementsByClassName('noob');
    
    for (i = 0; i < remove.length; i++) {
        // alert()
        // b[i].style.backgroundColor = colors[0]
        remove[i].style.display = 'none';
    };

}

function closeForm() {
  document.getElementById("no").style.display = "none";
  document.getElementById("newNoter").disabled =false;
  var remove = document.getElementsByClassName('thing');

  for (i = 0; i < remove.length; i++) {
        // alert()
        // b[i].style.backgroundColor = colors[0]
        remove[i].style.display = 'inline-block';
    };

}
</script>

{% endblock %}