{% extends "base.html" %}

{% block content %}
<div class = "main " style="margin-top: 100px;">
    <div class = "card postIt {{note.color}} center" style="height: 570px;">
    <!-- <h1 id = "noteTitle">Note:</h1> -->
    <!-- <h3 id = "mytext">{{text}}</h3> -->

    <!-- <form id = "no" name="edit_note">
        <label for = "title">Title</label>
        <input  type="text" name = "title" required>

        <label for = "text">Text</label>
        <input type="text" name = "text" required>

        <p class = "error">
            
        </p>

        <input type="submit" value = "Create" class = "btn">
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>

    
    </form> -->

    <form  id = "" name="edit_note">
        <!-- <input  type="text" name = "title" value = "{{note.title}}" required> -->
        <label class="field field_v1" for = "title" id = "titleEdit" style="margin-top: 40px; margin-bottom: 10px;">
            <input id = "editForm" class="field__input" name = "title" value="{{note.title}}" style="width: 350px;  font-size: 32px; font-weight: 700; text-align: center;"   required>
            <span class="field__label-wrap">
              <!-- <span class="field__label">Text</span> -->
            </span>
          </label>

        <!-- <label for = "text">Text</label>
        <input type="text" name = "text" value="{{note.text}}" required> -->


        <label class="field field_v1 splits" for = "text" id = "textEdit" >
            <textarea id = "textEditor" class="field__input split" name = "text" placeholder="{{note.text}}" style=" font-size: 20px; padding-top: 0px;"  rows=5    required>{{text}}</textarea>
            <!-- <span class="field__label-wrap"> -->
              <!-- <span class="field__label">Text</span> -->
            <!-- </span> -->
          </label>
          <br>
        <label for="time">{{note.time}}</label>
        <p class = "error">
            
        </p>
         <input type="radio" id="redDot" name="color" value="redDot">
        <label class = "radioColors redDot" for="redDot" ></label>
        <input type="radio" id="orangeDot" name="color" value="orangeDot">
        <label class = "radioColors orangeDot" for="orangeDot"></label>
        <input type="radio" id="greenDot" name="color" value="greenDot">
        <label class = "radioColors greenDot" for="greenDot"></label>
        <input type="radio" id="blueDot" name="color" value="blueDot">
        <label class = "radioColors blueDot" for="blueDot"></label>
        <input type="radio" id="purpleDot" name="color" value="purpleDot">
        <label class = "radioColors purpleDot" for="purpleDot"></label>
        <br>
        <!-- <input type = "button" onclick = "cancel()"value = "Cancel" class = "btn"> -->
        <input type="submit" value = "Save" class = "btn submit">
        <button type="button" class="btn cancel" onclick="cancel()">Close</button>


        
    
    </form>

</div>
</div>

    <script>document.getElementById("editTitle").value = note.title;
    function cancel(){
        window.location.href = "/dashboard"
    }
    
    </script>
    <script></script>
    <!-- b = document.get -->
    <script>
      // alert("hi");
    if (document.getElementsByClassName("purpleDot").length > 1){
      document.getElementById("purpleDot").checked = true;
    } else if (document.getElementsByClassName("greenDot").length >1){
      document.getElementById("greenDot").checked = true;
    }else if (document.getElementsByClassName("orangeDot").length >1){
      document.getElementById("orangeDot").checked = true;
    }else if (document.getElementsByClassName("redDot").length >1){
      document.getElementById("redDot").checked = true;
    }else{
      document.getElementById("blueDot").checked = true;
    }
      </script>

   
{% endblock %}